.expense_date{
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    /*margin-left: 5px;
    */
    padding: 10px 17px;
    margin-left: 10px;
    font-size: 0.8rem;
    background-color: #2a2a2a;
    color: white;
  
   
}
.expense_date .day
    {
font-size: 1.5rem;
}
.expense-date{
    font-weight:700; 
 
}

@media screen and (max-width:568px) {
    
}